# Environment variables
.env
.structure.txt
# Backup files
*.sql
*.txt

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environments
venv/
env/
.pgsync.yml
.pgsync-local-to-remote.yml
.pgsync-remote-to-local.yml

# Logs and temp files
*.log
*.tmp

# Local database files (for SQLite, if any)
*.sqlite3
*.db

# Alembic migration cache
app/migrations/__pycache__/

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Jupyter notebook checkpoints (if applicable)
.ipynb_checkpoints/
.strategies/
.mermaid_diagrams/__pycache__/
*.pyc
radiology.db
