/* Main Container */
.main-container {
    width: 100%;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    color: #000;
    font-family: 'Armata', sans-serif;
}

/* Remove Link Decorations */
 a {
    text-decoration: none !important;  /* Adding !important to ensure it overrides other styles */
    color: black;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: #d9d9d9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

/* Navbar Items */
.navbar-nav .nav-item .nav-link {
    font-family: 'Artema', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    color: #000;
}

.navbar-nav .nav-item .nav-link:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}

/* Hero Container */
.hero-container {
    width: 100%;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

/* Content (Cards) */
.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.action-card .card-body{
    aspect-ratio: 1 / 1; /* Ensures the cards are square */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
/* Reduce card and text size for smaller screens */
@media (max-width: 576px) {
    .action-card {
        padding: 1rem;
        font-size: 0.5rem;
    }
}

.action-card:hover {
    transform: translateY(-5px);
}
/* Different Background Colors for Each Card */
.card-1 { background-color: #d9d9d9; }
.card-2 { background-color: #90f1ef; }
.card-3 { background-color: #ffb7ff; }
.card-4 { background-color: #eac5d8; }
.card-5 { background-color: #dbd8f0; }
.card-6 { background-color: #c1fba4; }
.card-7 { background-color: #fff07c; }
.card-8 { background-color: #7ee8fa; }
.card-9 { background-color: #56cbf9; }
.card-10 { background-color: #d9bbf9; }
.card-11 { background-color: #c1fba4; }
.card-12 { background-color: #e58c8a; }
.card-13 { background-color: #d9bbf9; }
.card-14 { background-color: #d9bbf9; }
.card-15 { background-color: #d9d9d9; }

/* Footer */
.footer {
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #d9d9d9;
    padding: 10
}

 /* Custom toast background color */
 .custom-toast {
    background-color: #28a745; /* Bootstrap's 'success' green color */
}

/* Ensure text is visible */
.custom-toast .toast-body {
    color: #fff;
}
/*login button */
.login-btn {
    background-color: #7bf1a8;
}
.login-btn:hover{
    background-color: #136733;
}