{% extends "base.html" %}

{% block title %}List of Guidelines - Radiology Workstation Companion{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Available Guidelines</h1>
    <div class="row">
        {% for guideline in guidelines %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='thumbnails/test.svg') }}" class="img-fluid rounded-start" alt="Thumbnail">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ guideline.title }}</h5>
                            <p class="card-text">{{ guideline.file_type | upper }}</p>
                            <a href="{{ url_for('serve_guideline', id=guideline.id) }}" class="btn btn-primary">View Guideline</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <p class="mt-4">
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Return to Home</a>
    </p>
</div>
{% endblock %}