{% extends "base.html" %}

{% block title %}Home - Radiology Workstation Companion{% endblock %}

{% block hero_container %}
<div class="hero-container text-center my-4">
    <h1 class="display-4">Welcome to the Radiology Workstation Companion App</h1>
    <p class="lead">This app is designed to assist radiologists with day-to-day tasks and provide easy access to guidelines, tools, and resources.</p>
</div>
{% endblock %}

{% block content %}


<div class="container my-5">
    <div class="row g-3">
        {% set cards = [
            {'url': 'guidelines', 'title': 'Guidelines', 'class': 'card-1'},
            {'url': 'classifications', 'title': 'Classifications', 'class': 'card-2'},
            {'url': 'differential_diagnosis', 'title': 'Diff. Diagnosis', 'class': 'card-3'},
            {'url': 'vetting_tools', 'title': 'Vetting Tools', 'class': 'card-4'},
            {'url': 'anatomy', 'title': 'Anatomy', 'class': 'card-5'},
            {'url': 'curated_content', 'title': 'Curated Content', 'class': 'card-6'},
            {'url': 'report_checker', 'title': 'Report Checker', 'class': 'card-7'},
            {'url': 'rad_calculators', 'title': 'Rad Calculators', 'class': 'card-8'},
            {'url': 'tnm_staging', 'title': 'TNM Staging', 'class': 'card-9'},
            {'url': 'image_search', 'title': 'Image Search', 'class': 'card-10'},
            {'url': 'physics', 'title': 'Physics', 'class': 'card-11'},
            {'url': 'governance_audits', 'title': 'Governance | Audits', 'class': 'card-12'},
            {'url': 'courses', 'title': 'Courses', 'class': 'card-13'},
            {'url': 'research_tools', 'title': 'Research Tools', 'class': 'card-14'},
            {'url': 'music', 'title': 'Music', 'class': 'card-15'}
        ] %}
        
        {% for card in cards %}
        <div class="col-6 col-sm-5 col-md-3 col-lg-2">
            <a href="{{ url_for(card.url) }}" class="card action-card {{ card.class }} text-center p-3 h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    // Automatically show all toasts with a delay of 1.1 seconds (1111ms)
    document.addEventListener('DOMContentLoaded', function () {
        var toastElList = [].slice.call(document.querySelectorAll('.toast'));
        var toastList = toastElList.map(function (toastEl) {
            return new bootstrap.Toast(toastEl, { delay: 1111 }).show();
        });
    });
</script>
{% endblock %}
