{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block title %}Add New Guideline - Radiology Workstation Companion{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Add a New Guideline</h1>
    <form action="{{ url_for('main.add_guideline') }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ macros.render_field(form.title) }}
        {{ macros.render_field(form.file_type) }}
        {{ macros.render_field(form.file) }} <!-- Updated to use the file field -->
        {{ macros.render_field(form.url) }}
        {{ macros.render_field(form.embed_code) }}
        <button type="submit" class="btn btn-primary">Add Guideline</button>
    </form>
    <p class="mt-4">
        <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-secondary">Return to Admin Dashboard</a>
    </p>
</div>
{% endblock %}