{% extends "base.html" %}

{% block title %}Add {{ table_name[:-1].capitalize() }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Add {{ table_name[:-1].capitalize() }}</h2>

    <!-- Display Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="toast-container position-fixed top-0 end-0 p-3">
                {% for category, message in messages %}
                    <div class="toast align-items-center text-bg-{{ category }} border-0 show" role="alert">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('main.add_row', table_name=table_name) }}" enctype="multipart/form-data">
        {% for column in columns %}
            {% if column.name != 'id' %}
                <div class="mb-3">
                    <label for="{{ column.name }}" class="form-label">{{ column.name.capitalize() }}</label>
                    {% if column.name == 'file_path' %}
                        <input type="file" class="form-control" id="{{ column.name }}" name="{{ column.name }}">
                    {% else %}
                        <input type="text" class="form-control" id="{{ column.name }}" name="{{ column.name }}" required>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary">Add {{ table_name[:-1].capitalize() }}</button>
        <a href="{{ url_for('main.view_table_data', table_name=table_name) }}" class="btn btn-secondary">Cancel</a>
    </form>
        
        
   
</div>
{% endblock %}