{% extends "base.html" %}

{% block title %}Anatomy{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Anatomy</h1>
        <p>Information and resources on anatomical considerations will be available here.</p>
        <!-- Card Canvas -->
        <div class="my-card-canvas card-canvas" id="cardContainer">
            <!-- Card Box -->
            <div class="card-box my-card-box row">
                {% for content in contents %}
                <!-- Card -->
                <div class="card col-md-6 col-lg-4 mb-4 card-item my-card-item my-card" id="{{ card_index }}">
                    <!-- Card Item -->
                    <div class="row g-0">
                        <!-- Card image -->
                        <div class="col-md-4">
                            <img src="{{ url_for('main_routes.static', filename='thumbnails/test.svg') }}" class="card-img img-fluid rounded-start" alt="Thumbnail">
                        </div>
                        <!-- End Card image -->
                        <!-- Card body -->
                        <div class="col-md-8 card-body my-card-body">
                            <h5 class="card-title my-card-title">{{ content.title }}</h5>
                            <p class="card-text my-card-text">{{ content.description | upper }}</p>
                            <p class="card-text my-card-text">Last updated: {{ content.last_updated }}</p>
                            <div class="btn-group">
                                {% if guideline.file_path %}
                                    <div>
                                        <a href="{{ url_for('main.serve_guideline', id=guideline.id) }}" class="btn btn-primary">View Guideline</a>
                                    </div>
                                {% elif guideline.url %}
                                    <div>
                                        <a href="{{ guideline.url }}" class="btn btn-primary">View Guideline</a>
                                    </div>
                                {% else %}
                                    <div>
                                        <button class="btn btn-primary" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#embedCodeModal"
                                                data-embed-code="{{ embed_code }}"
                                                onclick="setEmbedCodeFromButton('{{ content_type }}', this)">
                                            View Embed Code
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- End Card Body -->
                    </div>
                    <!-- End Card item -->
                </div>
                <!-- End Card -->
                {% endfor %}
            </div>
            <!-- End Card Box -->
        </div>
        <!-- End Card canvas -->
    </div>
    <p class="mt-4">
        <a href="{{ url_for('main_routes.index') }}" class="btn btn-secondary">Return to Home</a>
    </p>
{% endblock %}