{% extends "base.html" %}

{% block title %}List of Guidelines - Radiology Workstation Companion{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Available Guidelines</h1>
    <!-- Card Canvas -->
    <div class="my-card-canvas card-canvas" id="cardContainer">
        <!-- Card Box -->
        <div class="card-box my-card-box row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for content in contents %}
                {% set title = content.title %}
                {% set category = content.category %}
                {% set module = content.module %}
                {% set embed_code = content.embed_code %}
                {% set card_index = content.id %}
                <!-- Card -->
                <div class="col card-item my-card-item">
                    <div class="card h-100 shadow-sm rounded my-card" id="{{ card_index }}">
                        <!-- Card Item -->
                        <div class="row g-0">
                            <!-- Card image -->
                            <div class="col-md-4">
                                <img src="{{ url_for('main_routes.static', filename='thumbnails/test.svg') }}" class="card-img img-fluid rounded-start" alt="Thumbnail">
                            </div>
                            <!-- End Card image -->
                            <!-- Card body -->
                            <div class="col-md-8 card-body my-card-body d-flex flex-column">
                                <h5 class="card-title my-card-title">{{ title }}</h5>
                                <p class="card-text my-card-text">{{ module | upper }}</p>
                                <p class="card-text my-card-text text-muted small">Last updated: {{ content.updated_at.strftime('%Y-%m-%d') }}</p>
                                <div class="mt-auto">
                                    <div class="btn-group">
                                        {% if content.filepath %}
                                            <a href="{{ url_for('content_routes.view_content', category=category, id=content.id) }}" class="btn btn-primary">View</a>
                                        {% elif content.external_url %}
                                            <a href="{{ content.external_url }}" target="_blank" class="btn btn-primary">View</a>
                                        {% elif content.embed_code %}
                                            <button class="btn btn-primary" 
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#embedCodeModal"
                                                    data-embed-code="{{ embed_code }}"
                                                    onclick="setEmbedCodeFromButton(this)">
                                                View Embed Code
                                            </button>
                                        {% else %}
                                            <p class="text-muted">No available guideline to view.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <!-- End Card Body -->
                        </div>
                        <!-- End Card item -->
                    </div>
                </div>
                <!-- End Card -->
            {% endfor %}
        </div>
        <!-- End Card Box -->
    </div>
    <!-- End Card canvas -->
</div>
<p class="mt-4">
    <a href="{{ url_for('main_routes.index') }}" class="btn btn-secondary">Return to Home</a>
</p>

{% endblock %}