{% extends "base.html" %}
{% block content %}
<div class="row g-sm-1 g-lg-5 g-md-5 gap-auto justify-content-center py-5">
    <div class="bottom-container text-center col-md-5 col-sm-11">
        <h2 class="mb-5 text-center">Reset Your Password</h2>
        <form method="POST" class="form-group" autocomplete="off">
            <!-- Correct way to include CSRF token for HTML forms -->
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="p-lg-5 p-sm-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" name="password"  autocomplete="new-password" class="form-control   " id="password" placeholder="Enter your new password" required>
            </div>
            <div class="p-lg-5 p-sm-3">
                <label for="retype-password" class="form-label">Retype Password</label>
                <input type="password" class="form-control" id="retype-password" name="retyped-password" placeholder="Confirm your password" autocomplete="new-password" required>
            </div>
            <button type="submit" class="btn btn-warning btn-lg btn-block mb-3 mt-3">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}