{% extends 'base.html' %}

{% block title %}Report Templates{% endblock %}

{% block content %}
<h2 class="m-1 text-success">Report Templates {{ template_title }}</h2>
<hr class="w-50 m-auto">
<button class="btn btn-primary w-25 m-auto mt-2" id="toggle-view-btn" type="button">Switch to Mobile View</button>
<hr>
<div class="table-responsive m-3" id="report-content">
    <!-- Non-Form Fields (e.g., Template Title) can remain here if needed -->
    
    
    
    
    <!-- Mobile View Form -->
    <form method="POST" action="{{ url_for('app_admin.save_report_template') }}" enctype="multipart/form-data" id="mobile_form" style="display:none">
        {{ mobile_form.hidden_tag() }}
        <div class="row g-3 card align-items-center">
            <div class="col-lg-2 col-md-2 col-sm-12 bg-light card-header rounded-3">
                <h5 class="mb-0">{{ mobile_form.template_name.label }}</h5>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 card-body">
                {{ mobile_form.template_name(class="form-control bg-light") }}
            </div>
        </div>
        <div class="mobile_view_container row g-3 mb-5">
            <!-- Patient Information -->
            <div class="patient_info_section">
                <div class="report_section col-12">
                    <h5 class="pastel-light-green d-flex justify-content-start p-2 w-50 rounded-2">Patient Information</h5>
                </div>
                <div class="data-section col-12 mb-2">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="form-group row g-2 m-auto">
                                <div class="col-8 text-success d-flex align-items-start fw-bold pe-3">
                                    {{ mobile_form.name.label }}
                                </div>
                                <div class="col-11">
                                    {{ mobile_form.name(class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-group row g-2 m-auto">
                                <div class="col-8 text-success d-flex align-items-start fw-bold pe-3">
                                    {{ mobile_form.gender.label }}
                                </div>
                                <div class="col-11">
                                    {{ mobile_form.gender(class="form-control") }}
                                </div>
                            </div>
                            <div class="form-group row g-2 m-auto">
                                <div class="col-8 text-success d-flex align-items-start fw-bold pe-3">
                                    {{ mobile_form.patient_id.label }}
                                </div>
                                <div class="col-11">
                                    {{ mobile_form.patient_id(class="form-control") }}
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group row g-2 m-auto">
                                <div class="col-8 text-success d-flex align-items-start fw-bold pe-3">
                                    {{ mobile_form.age.label }}
                                </div>
                                <div class="col-11">
                                    {{ mobile_form.age(class="form-control", id="age-input-mobile") }}
                                </div>
                            </div>
                            <div class="form-group row g-2 m-auto">
                                <div class="col-8 text-success d-flex align-items-start fw-bold pe-3">
                                    {{ mobile_form.dob.label }}
                                </div>
                                <div class="col-11">
                                    {{ mobile_form.dob(class="form-control", type="date", id="dob-input-mobile") }}
                                </div>
                            </div>
                            <div class="form-group row g-2 m-auto">
                                <div class="col-8 text-success d-flex align-items-start fw-bold pe-3">
                                    {{ mobile_form.location.label }}
                                </div>
                                <div class="col-11">
                                    {{ mobile_form.location(class="form-control") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="export-section col-12 mt-2 d-flex justify-content-end">
                        <a class="btn btn-outline-secondary w-50" href="#">Export Patient Info</a>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Clinical Information -->
            <div class="clinical_info_section">
                <div class="report_section col-12">
                    <h5 class="pastel-light-green d-flex justify-content-start p-2 w-50 rounded-2">{{ mobile_form.clinical_info.label }}</h5>
                </div>
                <div class="data-section col-12">
                    {{ mobile_form.clinical_info(class="form-control bg-light", rows="3") }}
                </div>
                <div class="export-section col-12 mt-2 d-flex justify-content-end">
                    <a class="btn btn-outline-secondary w-50 mt-2" href="#">Export Clinical Info</a>
                </div>
            </div>
            <hr>
            <!-- Technical Information -->
            <div class="technical_info_section">
                <div class="report_section col-12">
                    <h5 class="pastel-light-green d-flex justify-content-start p-2 w-50 rounded-2">{{ mobile_form.technical_info.label }}</h5>
                </div>
                <div class="data-section col-12">
                    {{ mobile_form.technical_info(class="form-control bg-light", rows="3") }}
                </div>
                <div class="export-section col-12 mt-2 d-flex justify-content-end">
                    <a class="btn btn-outline-secondary w-50" href="#">Export Protocol</a>
                </div>
            </div>
            <hr>
            <!-- Comparison Section -->
            <div class="comparison_section">
                <div class="report_section col-12">
                    <h5 class="pastel-light-green d-flex justify-content-start p-2 w-50 rounded-2">{{ mobile_form.comparison.label }}</h5>
                </div>
                <div class="data-section col-12">
                    {{ mobile_form.comparison(class="form-control bg-light", rows="3") }}
                </div>
                <div class="export-section col-12 mt-2 d-flex justify-content-end">
                    <a class="btn btn-outline-secondary w-50" href="#">Export Comparisons</a>
                </div>
            </div>
            <hr>
            <!-- Observations Section -->
            <div class="observation-section">
                <div class="report_section col-12">
                    <h5 class="pastel-light-green d-flex justify-content-start p-2 w-75 rounded-2">Observations</h5>
                </div>
                <div class="data-section col-12">
                    <div class="observations-container" id="mobile_observations">
                        {% for observation in mobile_form.observations %}
                                <div class="observation-item mb-3 p-2 border rounded" id="mobile-obs-item-{{ loop.index0 }}-section">
                                    <div class="observation-sections mb-3 pastel-light-blue w-75 d-flex justify-content-start p-2">
                                        <label for="mobilep-{{ observation.section.id }}">Section {{ loop.index0 }}</label>
                                        {{ observation.section(class="form-control", id="mobile-" + observation.section.id) }}
                                    </div>
                                    <div class="observation-details mb-3">
                                        <label for="mobile-{{ observation.details.id }}">Details {{ loop.index0 }}</label>
                                        {{ observation.details(class="form-control", id="mobile-" + observation.details.id, rows="3") }}
                                    </div>
                                    <button type="button" data-view="mobile" class="btn btn-outline-danger delete-observation-btn w-100 mt-2">Delete this Section</button>
                                </div>
                            
                            {% endfor %}

                        </div>
                        <button type="button" class="btn btn-outline-warning mt-3 add-observation-btn mb-3" id="add-obs-mobile-btn" data-view="mobile">Add Observation</button>
                </div>
                <div class="export-section col-12 mt-2 d-flex justify-content-end">
                    <a class="btn btn-outline-secondary w-50" href="#">Export Observations</a>
                </div>
            </div>
            <hr>
            <!-- Conclusion Section -->
            <div class="conclusion-section">
                <div class="report_section col-12">
                    <h5 class="pastel-light-green d-flex justify-content-start p-2 w-50 rounded-2">{{ mobile_form.conclusions.label }}</h5>
                </div>
                <div class="data-section col-12">
                    {{ mobile_form.conclusions(class="form-control", rows="6") }}
                </div>
                <div class="export-section col-12 mt-2 d-flex justify-content-end">
                    <a class="btn btn-outline-secondary w-50" href="#">Export Conclusions</a>
                </div>
            </div>
            <!-- Recommendation Section -->
            <div class="recommendation-section">
                <div class="report_section col-12">
                    <h5 class="pastel-light-green d-flex justify-content-start p-2 w-50 rounded-2">{{ mobile_form.recommendations.label }}</h5>
                </div>
                <div class="data-section col-12">
                    {{ mobile_form.recommendations(class="form-control", rows="5") }}
                </div>
                <div class="export-section col-12 mt-2 d-flex justify-content-end">
                    <a class="btn btn-outline-secondary w-50" href="#">Export Recommendations</a>
                </div>
            </div>
        </div>
        <!-- Generate Report Button Section -->
        <div class="generate-report card bg-light mb-3">
            <h5 class="card-header">Save Report Template</h5>
            <div class="card-body">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="report_type_pdf" name="report_type" value="pdf">
                    <label class="form-check-label" for="report_type_pdf">PDF</label>
                </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="report_type_word" name="report_type" value="word">
                <label class="form-check-label" for="report_type_word">Word</label>
            </div>
            <!-- Remove the form attribute from the button -->
            <button type="submit" name="mobile-submit_mobile" class="btn btn-primary w-auto m-2">Save Report Template</button>
            </div>
        </div>
    </form>
    
    <!-- Desktop View Form -->
    <form method="POST" action="{{ url_for('app_admin.save_report_template') }}" enctype="multipart/form-data" id="desktop_form" style="display:block">
        {{ desktop_form.hidden_tag() }}
        <div class="row g-3 card align-items-center">
            <div class="col-lg-2 col-md-2 col-sm-12 bg-light card-header rounded-3">
                <h5 class="mb-0">{{ desktop_form.template_name.label }}</h5>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 card-body">
                {{ desktop_form.template_name(class="form-control bg-light") }}
            </div>
        </div>     
        <table class="table table-bordered m-auto mb-5" id="desktop-view" style="display:block">
            <thead>
                <tr class="pastel-light-green">
                    <th class="w-auto"><h3>Report Section</h3></th>
                    <th><h3>Data</h3></th>
                    <th><h3>Export Data</h3></th>
                </tr>
            </thead>
            <tbody>
                <!-- Patient Information Section -->
                <tr>
                    <td class="bg-light w-auto"><h5>Patient Information</h5></td>
                    <td class="w-75">
                        <div class="row g-3">
                            <div class="col-6">
                                <div class="form-group row g-2 m-auto">
                                    <div class="col-2 text-success d-flex align-items-start fw-bold pe-3">
                                        {{ desktop_form.name.label }}
                                    </div>
                                    <div class="col-10">
                                        {{ desktop_form.name(class_="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group row g-2 m-auto">
                                    <div class="col-2 text-success d-flex align-items-start fw-bold pe-3">
                                        {{ desktop_form.gender.label }}
                                    </div>
                                    <div class="col-10">
                                        {{ desktop_form.gender(class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group row g-2 m-auto">
                                    <div class="col-2 text-success d-flex align-items-start fw-bold pe-3">
                                        {{ desktop_form.patient_id.label }}
                                    </div>
                                    <div class="col-10">
                                        {{ desktop_form.patient_id(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row g-2 m-auto">
                                    <div class="col-2 text-success d-flex align-items-start fw-bold pe-3">
                                        {{ desktop_form.age.label }}
                                    </div>
                                    <div class="col-10">
                                        {{ desktop_form.age(class="form-control", id="age-input-desktop") }}
                                    </div>
                                </div>
                                <div class="form-group row g-2 m-auto">
                                    <div class="col-2 text-success d-flex align-items-start fw-bold pe-3">
                                        {{ desktop_form.dob.label }}
                                    </div>
                                    <div class="col-10">
                                        {{ desktop_form.dob(class="form-control", type="date", id="dob-input-desktop") }}
                                    </div>
                                </div>
                                <div class="form-group row g-2 m-auto">
                                    <div class="col-2 text-success d-flex align-items-start fw-bold pe-3">
                                        {{ desktop_form.location.label }}
                                    </div>
                                    <div class="col-10">
                                        {{ desktop_form.location(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="w-auto bg-light">
                        <a class="btn btn-outline-secondary" href="#">Export Patient Info</a>
                    </td>
                </tr>

                <!-- Clinical Information Section -->
                <tr>
                    <td class="bg-light w-auto"><h5>{{ desktop_form.clinical_info.label }}</h5></td>
                    <td class="w-75">
                        {{ desktop_form.clinical_info(class="form-control", rows="3") }}
                    </td>
                    <td class="w-auto bg-light">
                        <a class="btn btn-outline-secondary" href="#">Export Clinical Info</a>
                    </td>
                </tr>

                <!-- Technical Information Section -->
                <tr>
                    <td class="bg-light w-auto"><h5>{{ desktop_form.technical_info.label }}</h5></td>
                    <td class="w-75">
                        {{ desktop_form.technical_info(class="form-control", rows="3") }}
                    </td>
                    <td class="w-auto bg-light">
                        <a class="btn btn-outline-secondary" href="#">Export Protocol</a>
                    </td>
                </tr>

                <!-- Comparison Section -->
                <tr>
                    <td class="bg-light w-auto"><h5>{{ desktop_form.comparison.label }}</h5></td>
                    <td class="w-75">
                        {{ desktop_form.comparison(class="form-control", rows="3") }}
                    </td>
                    <td class="w-auto bg-light">
                        <a class="btn btn-outline-secondary" href="#">Export Comparisons</a>
                    </td>
                </tr>

                <!-- Observations Section -->
                <tr>
                    <td class="bg-light w-auto"><h5>Observations</h5></td>
                    <td class="w-75">
                        <div class="observations-container" id="desktop_observations">
                            {% for observation in desktop_form.observations %}
                                <div class="observation-item mb-3 p-2 border rounded" id="desktop-obs-item-{{ loop.index0 }}-section">
                                    <div class="observation-sections mb-3 pastel-light-blue w-75 d-flex justify-content-start p-2">
                                        <label for="desktop-{{ observation.section.id }}">Section {{ loop.index0 }}</label>
                                        {{ observation.section(class="form-control", id="desktop-" + observation.section.id) }}
                                    </div>
                                    <div class="observation-details mb-3">
                                        <label for="desktop-{{ observation.details.id }}">Details {{ loop.index0 }}</label>
                                        {{ observation.details(class="form-control", id="desktop-" + observation.details.id, rows="3") }}
                                    </div>
                                    <button type="button" data-view="desktop" class="btn btn-outline-danger delete-observation-btn w-100 mt-2">Delete this Section</button>
                                </div>
                            
                            {% endfor %}

                        </div>
                        <button type="button" class="btn btn-outline-warning mt-3 add-observation-btn mb-3" id="add-obs-desktop-btn" data-view="desktop">Add Observation</button>
                    </td>
                    <td class="w-auto bg-light">
                        <a class="btn btn-outline-secondary" href="#">Export Observations</a>
                    </td>
                </tr>

                <!-- Conclusion Section -->
                <tr>
                    <td class="bg-light w-auto"><h5>{{ desktop_form.conclusions.label }}</h5></td>
                    <td class="w-75">
                        <div class="form-group">
                            {{ desktop_form.conclusions(class="form-control", rows="6") }}
                        </div>
                    </td>
                    <td class="w-auto bg-light">
                        <a class="btn btn-outline-secondary" href="#">Export Conclusions</a>
                    </td>
                </tr>

                <!-- Recommendation Section -->
                <tr>
                    <td class="bg-light w-auto"><h5>{{ desktop_form.recommendations.label }}</h5></td>
                    <td class="w-75">
                        <div class="form-group">
                            {{ desktop_form.recommendations(class="form-control", rows="5") }}
                        </div>
                    </td>
                    <td class="w-auto bg-light">
                        <a class="btn btn-outline-secondary" href="#">Export Recommendations</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Generate Report Button Section -->
        <div class="generate-report card bg-light mb-3">
            <h5 class="card-header">Save Report Template</h5>
            <div class="card-body">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="report_type_pdf" name="report_type" value="pdf">
                    <label class="form-check-label" for="report_type_pdf">PDF</label>
                </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="report_type_word" name="report_type" value="word">
                <label class="form-check-label" for="report_type_word">Word</label>
            </div>
            <!-- Remove the form attribute from the button -->
            <button type="submit" name="desktop-submit_desktop" class="btn btn-primary w-auto m-2">Save Report Template</button>
            </div>
        </div>
    </form>
    
{% endblock %}

{% block script %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Initialize age and DOB synchronization
        setupDateInputs('dob-input-mobile', 'age-input-mobile');
        setupDateInputs('dob-input-desktop', 'age-input-desktop');
    });

    // Event listener for Add Observation and Delete Observation buttons
    document.addEventListener('click', function(event) {
        
        if (event.target.classList.contains('add-observation-btn')) {
            const view = event.target.getAttribute('data-view');
            console.log("view is :" + view);
            addObservation(view);
        } else if (event.target.classList.contains('delete-observation-btn')) {
            const view = event.target.getAttribute('data-view');
            console.log("view is :" + view);
            deleteObservation(event);
        }
    });

    // Function to add a new observation
    function addObservation(view) {
        // Find the container holding all the observation items
        const obs_container_desktop = document.getElementById('desktop_observations');
        const obs_container_mobile = document.getElementById('mobile_observations');

        // Get the current number of observation items for each view
        const currentIndexDesktop = obs_container_desktop.querySelectorAll('.observation-item').length;
        const currentIndexMobile = obs_container_mobile.querySelectorAll('.observation-item').length;

        // Variable to hold the new observation HTML
        let newObservationHtml = '';

        if (view === 'desktop') {
            const newIndexDesktop = currentIndexDesktop ;

            // New observation HTML for desktop view
            newObservationHtml = `
                <div class="observation-item mb-3 p-2 border rounded" id="desktop-obs-item-${newIndexDesktop}-section">
                    <div class="observation-sections mb-3 pastel-light-blue w-75 d-flex justify-content-start p-2">
                        <label for="desktop-observations-${newIndexDesktop}-section">Section ${newIndexDesktop}</label>
                        <textarea class="form-control" id="desktop-observations-${newIndexDesktop}-section" name="desktop-observations-${newIndexDesktop}-section" placeholder="Add section name"></textarea>
                    </div>
                    <div class="observation-details mb-3">
                        <label for="desktop-observations-${newIndexDesktop}-details">Details ${newIndexDesktop}</label>
                        <textarea class="form-control" id="desktop-observations-${newIndexDesktop}-details" name="desktop-observations-${newIndexDesktop}-details" rows="3" placeholder="Add section details"></textarea>
                    </div>
                    <button type="button" data-index="${newIndexDesktop}" data-view="desktop" class="btn btn-outline-danger delete-observation-btn w-100 mt-2">Delete this Section</button>
                </div>`;

            // Insert the new observation item at the end of the desktop container
            obs_container_desktop.insertAdjacentHTML('beforeend', newObservationHtml);

        } else if (view === 'mobile') {
            const newIndexMobile = currentIndexMobile ;

            // New observation HTML for mobile view
            newObservationHtml = `
                <div class="observation-item mb-3 p-2 border rounded" id="mobile-obs-item-${newIndexMobile}-section">
                    <div class="observation-sections mb-3 pastel-light-blue w-75 d-flex justify-content-start p-2">
                        <label for="mobile-observations-${newIndexMobile}-section">Section ${newIndexMobile}</label>
                        <textarea class="form-control" id="mobile-observations-${newIndexMobile}-section" name="mobile-observations-${newIndexMobile}-section" placeholder="Add section name"></textarea>
                    </div>
                    <div class="observation-details mb-3">
                        <label for="mobile-observations-${newIndexMobile}-details">Details ${newIndexMobile}</label>
                        <textarea class="form-control" id="mobile-observations-${newIndexMobile}-details" name="mobile-observations-${newIndexMobile}-details" rows="10" placeholder="Add section details"></textarea>
                    </div>
                    <button type="button" data-index="${newIndexMobile}" data-view="mobile" class="btn btn-outline-danger delete-observation-btn w-100 mt-2">Delete this Section</button>
                </div>`;

            // Insert the new observation item at the end of the mobile container
            obs_container_mobile.insertAdjacentHTML('beforeend', newObservationHtml);
        }
    }

    // Function to update indices in case a section is deleted by user
    function updateIndices(view) {
        const container = view === 'desktop' 
            ? document.getElementById("desktop_observations") 
            : document.getElementById("mobile_observations");
    
        const observationItems = container.querySelectorAll('.observation-item');
        observationItems.forEach((item, index) => {
            const newIndex = index ;
        
            // Update the ID and content of observation section
            const itemSection = item.querySelector('.observation-sections');
            console.log("itemsetcion is " + itemSection.innerHTML);
            const itemSectionLabel = itemSection.querySelector('label');
            console.log("label for section is "+ itemSectionLabel.innerHTML);
            // Use flexible selector to capture either <input> or <textarea>
            const itemSectionInput = itemSection.querySelector('input, textarea');
            console.log("input for section is " + itemSectionInput);
        
            item.setAttribute('id', `${view}-obs-item-${newIndex}-section`);
            itemSectionLabel.innerHTML = `Section ${newIndex}`;
            itemSectionLabel.setAttribute('for', `${view}-observations-${newIndex}-section`);
            itemSectionInput.setAttribute('id', `${view}-observations-${newIndex}-section`);
            itemSectionInput.setAttribute('name', `${view}-observations-${newIndex}-section`);
        
            // Update the ID and content of observation details
            const itemDetails = item.querySelector('.observation-details');
            const itemDetailsLabel = itemDetails.querySelector('label');
            const itemDetailsInput = itemDetails.querySelector('textarea');
        
            itemDetailsLabel.innerHTML = `Details ${newIndex}`;
            itemDetailsLabel.setAttribute('for', `${view}-observations-${newIndex}-details`);
            itemDetailsInput.setAttribute('id', `${view}-observations-${newIndex}-details`);
            itemDetailsInput.setAttribute('name', `${view}-observations-${newIndex}-details`);
        
            // Update delete button data attributes
            const itemDeleteButton = item.querySelector('.delete-observation-btn');
            itemDeleteButton.setAttribute('data-index', newIndex);
            itemDeleteButton.setAttribute('data-view', view);
        });
    }

    // Function to delete an observation
    function deleteObservation(event) {
        const button = event.target;
        const currentView = button.getAttribute('data-view');
        const currentIndex = button.getAttribute('data-index');
    
        // Determine the container and prefix based on the current view
        const obs_container = currentView === 'desktop'
            ? document.getElementById("desktop_observations")
            : document.getElementById("mobile_observations");
    
        const currentItemIdPrefix = `${currentView}-obs-item-`;
        const currentItemId = `${currentItemIdPrefix}${currentIndex}-section`;
    
        // Get the observation item and remove it from the DOM
        const currentObsItem = document.getElementById(currentItemId);
        if (currentObsItem) {
            obs_container.removeChild(currentObsItem);
        }
    
        // Update indices after deletion
        updateIndices(currentView);
    }



    // Function to set up age and DOB synchronization
    function setupDateInputs(dobId, ageId) {
        const dobInput = document.getElementById(dobId);
        const ageInput = document.getElementById(ageId);

        if (dobInput && ageInput) {
            dobInput.addEventListener('change', function() {
                const dob = new Date(this.value);
                if (!isNaN(dob.getTime())) {
                    const age = calculateAge(dob);
                    ageInput.value = age;
                }
            });

            ageInput.addEventListener('input', function() {
                const age = parseInt(this.value);
                if (!isNaN(age)) {
                    const dob = calculateDOB(age);
                    dobInput.value = dob;
                }
            });
        }
    }

    function calculateAge(dob) {
        const today = new Date();
        let age = today.getFullYear() - dob.getFullYear();
        const m = today.getMonth() - dob.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < dob.getDate())) {
            age--;
        }
        return age;
    }

    function calculateDOB(age) {
        const today = new Date();
        const dob = new Date(today.getFullYear() - age, today.getMonth(), today.getDate());
        return dob.toISOString().split('T')[0];
    }

    // Function to toggle between desktop and mobile views
function toggleView() {
    const toggleViewButton = document.getElementById('toggle-view-btn'); // Fixed typo
    const desktop_view = document.getElementById('desktop_form'); // Fixed typo
    const mobile_view = document.getElementById('mobile_form'); // Fixed typo

    if (desktop_view.style.display === 'block' || desktop_view.style.display === '') {
        const confirmSwitch = confirm("Switching to Mobile View will clear any data entered in the Desktop View. Do you want to proceed?");
        if (confirmSwitch) {
            desktop_view.style.display = "none";
            desktop_view.reset();
            mobile_view.style.display = "block";
            toggleViewButton.innerHTML = 'Switch to Desktop View';
        }
    } else if (mobile_view.style.display === 'block' || mobile_view.style.display === '') {
        const confirmSwitch = confirm("Switching to Desktop View will clear any data entered in the Mobile View. Do you want to proceed?");
        if (confirmSwitch) {
            mobile_view.style.display = "none";
            mobile_view.reset();
            desktop_view.style.display = "block";
            toggleViewButton.innerHTML = 'Switch to Mobile View';
        }
    }
}

// Attach event listener to the toggle button
document.getElementById('toggle-view-btn').addEventListener('click', toggleView);

</script>
{% endblock %}
