{% extends "base.html" %}

{% block content %}
<div class="debug-info">
    <div class="row">
        <div class="col-6">
            <h1>This is a debug page. Please delete this during production.</h1>
            <p>This page is meant to help debug errors in your Flask application.</p>
            <p>Please note that this page should not be displayed in a production environment.</p>
            <p>Error: {{ error }}</p>
            <p>Traceback: {{ traceback }}</p>
        </div>
    </div>
</div>

<div class="row card-canvas" id="cardContainer">
    <!-- Card items here -->
</div>
{% endblock %}