{% extends "base.html" %}

{% block title %}Home - Radiology Workstation Companion{% endblock %}

{% block hero_container %}
<div class="hero-container text-center my-4">
    <h1 class="display-4">Welcome to the Radiology Workstation Companion App</h1>
    <p class="lead">This app is designed to assist radiologists with day-to-day tasks and provide easy access to guidelines, tools, and resources.</p>
</div>
{% endblock %}

{% block content %}
<div class="container my-5 my-container">
    <div class="row g-5 my-frame">
    
        {% for cat_name,display_list in cat_dict.items() %}
        <div class="col-4 col-sm-4 col-md-4 col-lg-3">
            <a href="{{ url_for('content_routes.view_category', display_name=display_list[0], category=cat_name) }}" class="card action-card text-center p-3 h-100">
                <div class="card-body {{'card-'~ display_list[-1]}}">
                    <h5 class="card-title">{{ display_list[0] }}</h5>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}