{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Login Form -->
            <div class="card">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <!-- Use the Flask-WTF form -->
                    <form method="POST" action="{{ url_for('app_user.login') }}">
                        <!-- Handles CSRF token -->
                        {{ form.hidden_tag() }} 
                        <!-- Username input div -->
                        <div class="mb-3">
                            {{ form.username.label(class="form-label") }}
                            {{ form.username(size=32) }}  <!-- Renders the username field with the defined class and attributes -->
                            {% if form.username.errors %}
                                <div class="text-danger">
                                    {{ form.username.errors[0] }}
                                </div>
                            {% endif %}
                        </div>
                        <!-- Password input div -->
                        <div class="mb-3">
                            {{ form.password.label(class="form-label") }}
                            <div class="input-group">
                                {{ form.password(class="form-control", placeholder="Enter Password", id="password-field") }}
                                <button type="button" class="btn btn-outline-secondary" id="toggle-password" style="border-left: none;">
                                    <i class="fa fa-eye-slash" id="toggle-icon"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Remember Me Checkbox -->
                        <div class="form-check mb-3">
                            {{ form.remember(class="form-check-input", style="transform: scale(1.7); margin:auto; margin-left:20%; ") }}
                            {{ form.remember.label(class="form-check-label") }}
                        </div>
                        {{ form.submit() }}  <!-- Renders the submit button -->
                    </form>
                </div>
            </div>
            <!-- Reset password and retrieve username buttons -->
            <div class="failed_login row justify-content-center" style="display: none;">
                <div class="col-md-3 mt-3 text-center">
                    <!-- Use anchor tag for links -->
                    <a class="btn btn-warning" href="{{ url_for('app_user.credential_manager', action='forgot_password') }}">Forgot Password?</a>
                </div>
                <div class="col-md-3 mt-3 text-center">
                    <!-- Corrected quotes and used anchor tag -->
                    <a class="btn btn-warning" href="{{ url_for('app_user.credential_manager',action='forgot_username' )}}">Retrieve Username</a>
                </div>
            </div>
            <!-- Registration Link -->
            <div class="mt-5 text-center">
                <h5>Don't have an account?</h5>
                <a href="{{ url_for('app_user.register') }}" class="btn btn-primary w-25">Register here</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Ensure login_failed is correctly interpreted as a boolean
        let login_failed;
        login_failed = {{ login_failed | tojson }};
        
        // Check if login_failed is true and display the failed login message
        if (login_failed) {
            let failedLoginElement = document.querySelector('.failed_login');
            if (failedLoginElement) { // Check if the element exists
                failedLoginElement.style.display = 'flex';
            }
        }

        const togglePassword = document.getElementById('toggle-password');
        const passwordField = document.getElementById('password-field');
        const toggleIcon = document.getElementById('toggle-icon');

        togglePassword.addEventListener('click', function() {
            // Toggle password visibility
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordField.setAttribute('type', type);
            
            // Toggle eye icon
            toggleIcon.classList.toggle('fa-eye');
            toggleIcon.classList.toggle('fa-eye-slash');
        });
    });
</script>
{% endblock %}