{% macro render_field(field) %}
<div class="mb-3">
    <label for="{{ field.id }}" class="form-label">{{ field.label.text }}</label>
    {% if field.type == 'FileField' %}
    {{ field(class="form-control custom_input") }}
    {% elif field.type == 'SelectField' %}
    {{ field(class="form-select custom_input") }}
    {% else %}
    {{ field(class="form-control custom_input " + ("is-valid" if field.data and field.validate() else "is-invalid" if
    field.errors else "")) }}
    {% endif %}
    {% if field.errors %}
    <div class="invalid-feedback">
        {{ field.errors[0] }}
    </div>
    {% endif %}
</div>
{% endmacro %}

{% macro collapse_btn (target_id, btn_text) %}
<button class="btn-yellow-main btn p-0" data-bs-toggle="collapse" data-bs-target="#{{ target_id }}"
    aria-expanded="false" aria-controls="{{ target_id }}">
    {{ btn_text }}
</button>
{% endmacro %}

{% macro scrollable_image_container(article_name, folder_name) %}
<div class="col-lg-8 col-md-8 col-sm-12 card p-3">
    <!-- Scrollable grid of images -->
    <div class="img-grid row row-cols-1 g-2 bg-dark overflow-auto" style="max-height: 400px;">
        {% for image in images_from_folder(article_name, folder_name) %}
        <div class="col w-75 m-auto">
            <img src="{{ image }}" class="img-fluid mt-3" alt="Image">
        </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro images_from_folder(article_name, folder_name) %}
{% set images = [] %}
{% for filename in os.listdir("creatives_folder/" + article_name + "/images/image_stacks/" + folder_name) %}
{% if filename.endswith(('.jpg', '.jpeg', '.png')) and filename.startswith('img_') %}
{% set images = images + ["/creatives_folder/" + article_name + "/images/image_stacks/" + folder_name + "/" + filename]
%}
{% endif %}
{% endfor %}
{% set sorted_images = images | sort %}
{{ sorted_images }}
{% endmacro %}
{% macro render_iso(dt) %}
{{ dt.isoformat() if dt else '' }}
{% endmacro %}