{% extends "base.html" %}

{% block title %}Document Viewer - Radiology Workstation Companion{% endblock %}

{% block hero_container %}
<div class="hero-container text-center my-4">
    <h1 class="display-4">Radiology Workstation Companion App E-Reader</h1>
</div>
{% endblock %}
{%block content %}
<!-- Custom toolbar for pdf viewer-->
<div class="container my-4">
    <div class="d-flex justify-content-around align-items-center border p-2">
        <!-- Multiple Buttons Evenly Distributed -->
        <button type="button" class=" btn-danger" id="toggle_editing" editing="allowed" >Disable Editing</button>
        <a href="{{ url_for('content_routes.view_category', display_name=display_name, category=cat) }}" class="btn btn-outline-primary">Back to {{cat|upper}}</a>
    </div>
<!-- Custom toolbar ends-->
<!-- Adobe DC View Container starts -->
<div id="adobe-dc-view"></div>
<!-- Adobe DC View Container ends -->

<script src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>
<script type="text/javascript">
    var readOnly = false;
    
    // Function to update Adobe view
    function updateAdobeView() {
        var adobeDCView = new AdobeDC.View({
            clientId: "a5f8e2d3a4ba4c2885e1b8ac26d38a78", //"a5f8e2d3a4ba4c2885e1b8ac26d38a78" >> use this API key for localhost 
            divId: "adobe-dc-view"
        });

        // Pass your parameters from Jinja templating
        var fileUrl = '{{ file_url }}';
        var fileName = "{{ file_name }}";
        var id = '{{ doc.id }}';
        // Store the UI options in a constant
        const previewConfig = {
                enableFormFilling:true,
                exitPDFViewerType:'RETURN',
                enableLinearization:true,
                showDownloadPDF: false,
                showZoomControl: false,
                enableAnnotationAPIs:true,
                includePDFAnnotations:true,
                showDisabledSaveButton:false,
                enableSearchAPIs: true,
            }

        adobeDCView.previewFile(
                {content: { location: { url: fileUrl } },
                metaData: {fileName: fileName,id: id, hasReadOnlyAccess: readOnly}}, 
                previewConfig,
                );
        }

    // Initial load of Adobe view
    document.addEventListener("adobe_dc_view_sdk.ready", function() {
        updateAdobeView();
    });

    // Function to toggle readOnly and update the button appearance
    function toggleEditing() {
        var button = document.getElementById("toggle_editing");
        // Toggle editing state
        if (button.getAttribute('editing') === "allowed") {

            button.setAttribute('editing', "not_allowed");
            readOnly = true;
            button.classList.add("btn-success");
            button.classList.remove("btn-danger");
            button.innerHTML = 'Enable Editing';
        } else {
            button.setAttribute('editing', "allowed");
            readOnly = false;
            button.classList.add("btn-danger");
            button.classList.remove("btn-success");
            button.innerHTML = 'Disable Editing';
        }

        // Reload Adobe viewer; use setTimeout only if the viewer needs a delay
            updateAdobeView();
    }

    // Set up the event listener for the toggle button
    document.getElementById("toggle_editing").addEventListener("click", toggleEditing);
</script>
{% endblock %}