{% extends "base.html" %}

{% block title %}Register - Radiology Workstation Companion{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Registration Form -->
            <div class="card">
                <div class="card-header text-center">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('app_user.register') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">  <!-
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="retype-password" class="form-label">Retype Password</label>
                            <input type="password" class="form-control" id="retype-password" name="retyped-password" placeholder="Confrim your password" required>
                        </div>
                        <button type="submit" name='action' value='register' class="btn btn-green btn-outline-dark w-100 py-3">Register</button>
                    </form>
                </div>
            </div>

            <!-- Login Link -->
            <div class="mt-5 py-3 card row gap-2 justify-content-center pastel-light-green shadow-sm" style="width: 40vw;">
                <p class="col-md-12">Already have an account?</p>
                <div class="col-md-12"> 
                    <a href="{{ url_for('app_user.login') }}" class="btn btn-primary login-btn col-md-12">Login here</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}