{% extends "base.html" %}
{% block content %}
<div class="container py-5 outer-container">
    <div class="row g-sm-1 g-lg-5 g-md-5 gap-auto ">
        <div class="col-md-4 col-sm-6">
            <div class="card-custom text-center">
                <p class="mb-5">Enter your registered Email to receive your password in inbox</p>
                <input type="email" class="form-control mb-5" placeholder="Email" style="background-color: #e8f5e9;">
                <button class="btn btn-green w-70">Retrieve Password</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card-custom text-center">
                <p class="mb-5">Enter your registered Email to receive password reset link</p>
                <input type="email" class="form-control mb-5" placeholder="Email" style="background-color: #fffde7;">
                <button class="btn btn-yellow w-70">Reset Password</button>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="card-custom text-center">
                <p class="mb-5">Enter your registered Email to receive your username in inbox</p>
                <input type="email" class="form-control mb-5" placeholder="Email" style="background-color: #e0f7fa;">
                <button class="btn btn-blue w-70">Retrieve Username</button>
            </div>
        </div>
    </div>
</div>

    <!-- Main card section positioned above the footer -->
    <div class="text-center main-card mx-auto mt-5 bottom-container py-5 container">
        <p class="mb-3">I do not remember my registered email</p>
        <button class="btn btn-yellow-main px-4 ">Claim your account</button>
    </div>
{% endblock %}