{% extends "base.html" %}

{% block title %}Database Tables - Radiology Workstation Companion{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Database Tables</h2>
    <p>Here you can view the contents of the database tables:</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Table Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables_data %}
            {% set endpoint =table.endpoint %}
                <tr>
                    <td>{{ table.table_name | upper }}</td>
                    <td>
                        <!-- Construct the full URL by combining the base URL and the endpoint -->
                        <a href="{{ url_for('admin.index') }}/{{ endpoint }}" class="btn btn-primary">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </table>
</div>
{% endblock %}